/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  // background-color: teal;
  color: #1f1f1f;
  .nav-links a {
    color: #1f1f1f;
  }
}

/* LOGO */
.logo {
  font-size: 32px;
}
/* NAVBAR MENU */
.menu {
  // display: flex;
  display: none;
  position: absolute;
  height: 100vh;
  background-color: #f5f5f5;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  // padding-top: 30%;
  //
  transition: all 0.3s linear;

  opacity: 0;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  // background-color: #4c9e9e;
  //
  display: inline-block;
  //
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: block;
  font-size: 24px;
  user-select: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
}
/* APPLYING MEDIA QUERIES */
@media (min-width: 768px) {
  .menu {
    display: flex;

    position: relative;
    opacity: 100;
    height: auto;
    background: inherit;
    &.shown {
      display: flex;
      flex-direction: row;
    }
  }

  .menu li:hover {
    transition: 0.2s;
    transform: scale(1.2, 1.2);
  }
  .menu li {
    transition: 0.2s;
  }
  // input[type="checkbox"]:checked ~ .menu {
  //   display: block;
  // }
  .hamburger {
    display: none;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    // background-color: #4c9e9e;
  }
}

.shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 50;
}

.visuallyshown {
  opacity: 100;
  z-index: 50;
}

.hidden {
  display: none;
  // z-index: 50;
}
