.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 87px);
  padding: 5% 0;

  h1 {
    text-align: center;
    max-width: 50%;
    margin-bottom: 4%;
  }
  span {
    margin-bottom: 2rem;
  }
  img {
    max-width: 30%;
  }
}

@media (min-width: 768px) {
  .promo {
    img {
      // max-width: 20%;
    }
  }
}

.info {
  text-align: center;
  line-height: 24px;
  word-spacing: 4px;
  font-size: 18px;
  padding: 2rem 0 5rem;
}

.wrapper {
  background-color: dodgerblue;
}

.features {
  padding-bottom: 2rem;
}

.works {
  text-align: center;
}

.contact-me {
  height: auto;
  padding: 2rem 0;
  text-align: center;
  background: $main-color;
}

.footer {
  background: $secondary-color;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    display: block;
    height: 50px;
    width: 50px;
    fill: $main-color;
  }
  ul {
    display: flex;
    justify-content: center;
    li:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .social {
    margin-bottom: 2rem;
  }
  span {
    color: white;
  }
}
