.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 77px);
  padding: 5% 0;

  h1 {
    text-align: center;
    max-width: 50%;
    margin-bottom: 4%;
  }
  span {
    margin-bottom: 2rem;
  }
  img {
    max-width: 30%;
    // max-height: 40%;
    border: 1px solid black;
    border-radius: 30px;

    // padding: 30px;
  }
}

.info {
  text-align: center;
  line-height: 24px;
  word-spacing: 4px;
  font-size: 18px;
  padding: 5rem 0;
}

.info-wrapper {
  background-color: dodgerblue;
}
