doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/f40149316f.js" crossorigin="anonymous") 
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        include templates/_header.pug
        main
            section 
                .container
                    .promo
                        h1 Hello, I'm a frontend developer
                        span Welcome to my portfolio!
                        img(src="img/avatar2.png", alt="avatar")
            section
                .wrapper 
                    .container
                        article.info 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum recusandae suscipit reprehenderit, vitae mollitia tempora necessitatibus quae cumque repellat laudantium placeat aperiam adipisci, dignissimos quibusdam assumenda obcaecati quasi ea.
            section 
                .container 
                    .features
                        .card.card_info 
                            img(src="#", alt="card img")
                            h2 Developer 
                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor.
                            strong Hard skills 
                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor.
                            strong Soft skills
                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor.
            section 
                .container 
                    .works 
                        h2 My works
                        .flex-row_work.flex-row
                            .card.card_work
                                h3 Todo App
                                a(href="https://frudee-todoapp.netlify.app/")
                                    img(src="img/Note2.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li ES6  
                                            li Prototypal inheritance  
                                            li Local storage 
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT                                                     
                            .card.card_work
                                h3 Todo App
                                a(href="https://frudee-todoapp.netlify.app/")
                                    img(src="img/Note2.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li ES6  
                                            li Prototypal inheritance  
                                            li Local storage 
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT                                                     
                            .card.card_work
                                h3 Todo App
                                a(href="https://frudee-todoapp.netlify.app/")
                                    img(src="img/Note2.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li ES6  
                                            li Prototypal inheritance  
                                            li Local storage 
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT                                                     
                            .card.card_work
                                h3 Todo App
                                a(href="https://frudee-todoapp.netlify.app/")
                                    img(src="img/Note2.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li ES6  
                                            li Prototypal inheritance  
                                            li Local storage 
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT
            section 
                .wrapper
                    .container 
                        .contact-me 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus accusamus nisi vero alias, animi reprehenderit incidunt vel earum explicabo autem nobis atque placeat iusto ad omnis voluptatem, asperiores cumque soluta?
                            a(href="#" class="btn") CONTACT ME


        script(src="js/main.min.js" type="module") 