doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/f40149316f.js" crossorigin="anonymous") 
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        include templates/_header.pug
        main
            section 
                .container
                    .promo
                        h1 Frontend developer
                        span I code fast, responsive and beatiful applications. This is my passion.
                        img(src="img/avatar2.png", alt="avatar")
            section
                .wrapper 
                    .container
                        article.info 
                            h2 Greetings, I'm Dmitry. Welcome to my porfolio!
                            p I started my path of web development a few years ago, I have made websites as a freelancer, refactured legacy codes, created UX and UI for businesses and private customers. I have a sense of perfectionism, always pursue my goals and do my best to deliver outstanding experience to my clients.
            section 
                .container 
                    .features(id="about")
                        .card.card_info 
                            img(src="../img/web.svg" alt="card img")
                            h2 Frontend Developer 
                            span I enjoy bringing ideas into life. Responsive, adaptive and good looking life.
                            h3 Languages 
                            span HTML, JavaScript, CSS, PUG, Sass 
                            h3 Tools
                            ul 
                                li Git
                                li Webpack
                                li Gulp
                                li Bootstrap
                                li Figma 
                                li Adobe PS 
                                li Lighthouse 
            section 
                .container 
                    .works(id="work") 
                        h2 My work
                        span Here you can find some of my recent works. If you want to see more - please check my <a href="#">GitHub profile</a>.
                        .flex-row_work.flex-row
                            .card.card_work
                                h3 Todo App
                                a(href="https://frudee-todoapp.netlify.app/")
                                    img(src="img/Note2.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li ES6  
                                            li Prototypal inheritance  
                                            li Local storage 
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT                                                     
                            .card.card_work
                                h3 Commercial website
                                a(href="https://frudee-todoapp.netlify.app/")
                                    img(src="img/shop.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li Adaptive
                                            li Responsive  
                                            li W3C Standards
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT                                                     
                            .card.card_work
                                h3 Pig Game
                                .img
                                    a(href="https://frudee-todoapp.netlify.app/")
                                        img(src="img/piggame.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li Turn-based game  
                                            li Native JavaScript  
                                            li 2 players 
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT                                                     
                            .card.card_work
                                h3 Todo App
                                a(href="https://frudee-todoapp.netlify.app/")
                                    img(src="img/Note2.jpg", alt="work example")
                                .flex-row 
                                    .col    
                                        ul 
                                            li ES6  
                                            li Prototypal inheritance  
                                            li Local storage 
                                    .col
                                        ul 
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                            li <span class="check"></span>
                                a(href="#" class="btn") VISIT
            section 
                .wrapper
                    .container 
                        .contact-me(id="cv") 
                            p I'm always open for new connections and opportunities. Feel free to send me a message via <a href="https://t.me/frudee"><strong>telegram</strong></a> or send me an email: <strong>dsukhorukov16@gmail.com</strong>. You can download my CV by clicking the button down below.
                            a(href="CV.docx" download class="btn") Download CV
            include templates/_footer.pug


        script(src="js/main.min.js" type="module") 