header 
    .container
        .header-container
            .header__left 
                h1 LOGO
            .header__right
                span.toggler 
        nav.header__menu               
            ul.menu 
                li <a href="#">Logo</a>
                li <a href="#">Menu item</a>
                li <a href="#">Menu item</a>
                li <a href="#">Click</a>
